//colors
$white: #fff;
$black: #373737;
$black_d: #151515;
$darken: #717171;
$blue: #2C1D50;
$blue_d: #6B7EDD;
$grey: #9B95A9;
$grey_d:#C1BDBA;
$orange: #EC641A;
$orange_l: #FDA057;
$pink: #EDCAE0;
$purple: #97A6EF;
$silver: #C1C1C1;
$green: #8DC388;
$pink_l: #D0B3F4;
//font

$font: 'IBM Plex Sans', sans-serif;

//trnasitions

$trs-4: all .4s ease;
